<div class="wrapper">
    <div class="container">
        <h2>Lessen</h2>
        <ul class="mdc-list mdc-list--two-line">
            <li (for)="let lesson of lessons" [onclick]="goToLessonDetail" [data-id]="lesson.id" class="mdc-list-item" tabindex="0">
            <span class="mdc-list-item__text" [data-id]="lesson.id">
              <span class="mdc-list-item__primary-text" [inner-h-t-m-l]="lesson.name" [data-id]="lesson.id"></span>
              <span class="mdc-list-item__secondary-text" [inner-h-t-m-l]="lesson.date" [data-id]="lesson.id"></span>
            </span>
            </li>
        </ul>
        <button class="mdc-fab" [onclick]="addLesson" aria-label="Add" [style.background-color]="theme.secondaryColor">
            <span class="mdc-fab__icon material-icons">add</span>
        </button>
    </div>
    <div class="container container-right">
        <h2><span [inner-text]="module.name"></span></h2>
        <h4  class="subtitle"><span [inner-text]="module.startDate"></span> - <span [inner-text]="module.endDate"></span></h4>
        <p class="subtitle" [inner-text]="module.description"></p>
        <div class="border-top"></div>
        <h4 class="goal-title">Leerdoelen</h4>
        <button class="goal-button mdc-button mdc-button--unelevated" [onclick]="addGoal">
            <span class="mdc-button__label">Toevoegen</span>
        </button>
        <ul class="mdc-list mdc-list--two-line">
            <li (for)="let goal of usedStudyGoals" class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__text">
                  <span class="mdc-list-item__primary-text" [inner-text]="goal.name"></span>
                  <span class="mdc-list-item__secondary-text" [inner-text]="goal.description"></span>
                </span>
            </li>
            <h4 class="goal-title">Ongebruikte Leerdoelen</h4>
            <li (for)="let goal of unusedStudyGoals" class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__text">
                  <span class="mdc-list-item__primary-text" [inner-text]="goal.name"></span>
                  <span class="mdc-list-item__secondary-text" [inner-text]="goal.description"></span>
                </span>
            </li>
        </ul>
    </div>
</div>
<lesson-dialog #dialog ></lesson-dialog>
<study-goal-dialog #goaldialog ></study-goal-dialog>
<page-loader (if)="loading"></page-loader>