<div class="container">
    <h2>Opleidingen</h2>
    <ul class="mdc-list mdc-list--two-line">
        <li (for)="let education of educations" [onclick]="goTo" [data-id]="education.id" class="mdc-list-item" tabindex="0">
            <span class="mdc-list-item__text" [data-id]="education.id">
              <span class="mdc-list-item__primary-text" [data-id]="education.id" [inner-h-t-m-l]="education.name"></span>
              <span class="mdc-list-item__secondary-text" [data-id]="education.id" [inner-h-t-m-l]="education.year"></span>
            </span>
        </li>
    </ul>
    <button class="mdc-fab" [onclick]="addEducation"  aria-label="Add" [style.background-color]="theme.secondaryColor">
        <span class="mdc-fab__icon material-icons">add</span>
    </button>
</div>
<education-dialog #dialog person="Student"></education-dialog>
<page-loader (if)="loading"></page-loader>